body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 { 
text-align: center;
  
}

IMG {
display: block;
margin-left: auto;
margin-right: auto;
}

nav {
  padding: 10px;
  background-color: gray;
  text-align: center;
}

figcaption {
  text-align: center;
  font-size: 14px;
}

#details  {
  display: block;

}

#details div {
  float: left;
  background-color: #FFC125;
  width: 25%;
  text-align: center;
}



